@import "modern-normalize";

@import "./color.css";
@import "./app-shell.css";
@import "./font-text.css";
@import "./safe-area.css";
@import "./scrollbar.css";
@import "./layout.css";
@import "./background.css";
@import "./border.css";
@import "./reset.css";
@import "./sprite.css";
@import "./transitions.css";

html {
  --inverted: 100%;
  --brightness: 100%;
}

html[data-theme="inverted"] {
  filter: invert(var(--inverted)) brightness(var(--brightness));
}

html[data-theme="inverted"] dialog {
  filter: invert(var(--inverted)) brightness(var(--brightness));
}

html[data-theme="inverted"] body {
  background-color: var(--color-white) !important;
}

html[data-theme="inverted"] .no-invert {
  filter: invert(100%) brightness(100%);
}
