.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.moodBox {
  width: fit-content;
  padding: 4px 8px;
  margin: 0 auto;
}

.reportText {
  line-height: 1.2;
}
.footer {
  padding: 8px;
}
