.container {
  flex: 1;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.emptyList {
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}
