.table {
    background-color: var(--color-white);
}

.table th, .table td {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px dashed var(--color-gray-100);
}

.table th{
    font-weight: normal;
    padding-left: 6px;
}

.table td {
    padding-right: 6px;
}